<div class="wrapper-wardrobe" style="background-color: <%= @color %>">
  <h2>Wardrobe</h2>
    <div class="cards-wardrobe">
      <% @item.color %>
      <div class="color-ellipse" >
        <% @item.color %>
          <%=image_tag("icons/icon_shoe.png", class: "icon_shoes")%>
      </div>
      <div class="color-ellipse">
        <%= link_to items_path(category:"tops", color:@color) class: "no-underline"  do %>
          <%=image_tag("icons/icon_top.png", class: "icon_top"),%>
        <% end %>
      </div>
       <div class="color-ellipse">
        <%= link_to items_path(category:"shoes")do %>
          <%=image_tag("icons/icon_cap.png", class: "icon_accessory")%>
        <% end %>
      </div>
      <div class="color-ellipse">
        <%=image_tag("icons/icon_pants.png", class: "icon_bottom")%>
      </div>
    </div>
</div>
