<!--  see components/_backgrounds.scss for the rules for this container  -->
<div class="container-adaptive" style="background-color: <%= @item.color %>">
<!--   rules for this heart is in _heart.scss -->


  <div class= "item-card">
    <% if @item.favorite? %>
      <%= simple_form_for @item do |f| %>
        <%= f.input :favorite, :input_html => { :checked => false, class: "hidden" }, label: false  %>
        <%= button_tag class: "knapp", style: "background-color: #{@item.color}", type: 'submit' do %>
          <i class="heart fas fa-heart heartbutton" aria-hidden="true" style="background-color: <%= @item.color %>" ></i>
        <% end %>
      <% end %>
    <% else %>
      <%= simple_form_for @item do |f| %>
        <%= f.input :favorite, :input_html => { :checked => true, class: "hidden"}, label: false %>
        <%= button_tag class: "knapp", style: "background-color: #{@item.color}", type: 'submit' do %>
          <i class="heart far fa-heart heartbutton" aria-hidden="true" style="background-color: <%= @item.color %>" ></i>
        <% end %>
      <% end %>
    <% end %>
    <div>
    </div>
    <%= image_tag @item.image, class: "image-carousel"%>

      <%=link_to item_path(@item, index:@next, outfit:@ids) do %>
        <%= image_tag @outfit[@next].image, class: "image-carousel front"%>
      <% end %>

      <%= link_to item_path(@item, index:@prev, outfit:@ids) do %>
        <%= image_tag @outfit[@prev].image, class: "image-carousel shadow"%>
      <% end %>
  </div>
  <div>
  </div>
  <div>

  </div>
<button class="las la-trash-alt fa-3x trashcan" data-toggle="modal" data-target="#exampleModal"></button>
    <%= render "shared/modal" %>

</div>
