   <%== pagy_nav(@pagy) %>
<!--  see components/_backgrounds.scss for the rules for this container  -->
<div class="container-adaptive" style="background-color: <%= @item.color %>">
<!--   rules for this heart is in _heart.scss -->
  <% if @item.favorite %>
    <i class="heart fas fa-heart"></i>
  <% else %>
    <i class="heart far fa-heart"></i>
  <% end %>
    <div class= "item-card">
    <div class="item-circle" style=" background-color: <%= @item.color %>">
      <div class="outfit-text">
      <% if @item.name %>
        <%=  link_to "create outfit with #{@item.name}", item_path(@item), class: "no-underline"%>
      <% else %>
      <%=  link_to "create outfit with this item", item_path(@item), class: "no-underline"%>
      <% end %>
      </div>
    </div>
    <%= image_tag @item.image, class: "image-carousel"%>
  </div>
  <%= link_to item_path(@item),
  method: :delete,
  data: { confirm: 'Are you sure?' } do %>
    <i class="fas fa-trash-alt fa-2x"></i>
  <%end %>
</div>
