<!--  see components/_backgrounds.scss for the rules for this container  -->
<div class="container-adaptive" style="background-color: <%= @item.color %>">
<!--   rules for this heart is in _heart.scss -->

  <div class= "item-card">
    <% if @item.favorite? %>
      <%= simple_form_for @item do |f| %>
        <%= f.input :favorite, :input_html => { :checked => false, class: "hidden" }, label: false  %>
        <%= button_tag class: "knapp", style: "background-color: #{@item.color}", type: 'submit' do %>
          <i class="heart fas fa-heart heartbutton" aria-hidden="true" style="background-color: <%= @item.color %>" ></i>
        <% end %>
      <% end %>
    <% else %>
      <%= simple_form_for @item do |f| %>
        <%= f.input :favorite, :input_html => { :checked => true, class: "hidden"}, label: false %>
        <%= button_tag class: "knapp", style: "background-color: #{@item.color}", type: 'submit' do %>
          <i class="heart far fa-heart heartbutton" aria-hidden="true" style="background-color: <%= @item.color %>" ></i>
        <% end %>
      <% end %>
    <% end %>
    <div>
      <div class="outfit-text">
        <% if @item.name %>
          <%=  link_to "create outfit with #{@item.name}", item_path(@item), class: "no-underline item-circle", style:" background-color: #{@item.color}" %>
        <% else %>
          <%=  link_to "create outfit with this item #{@item.name}", item_path(@item), class: "no-underline item-circle", style:" background-color: #{@item.color}" %>
        <% end %>
      </div>
    </div>
    <%= image_tag @item.image, class: "image-carousel"%>
    <% if pagy_prev_url(@pagy) %>
      <%=link_to pagy_prev_url(@pagy) do %>
        <%= image_tag @items.first.image, class: "image-carousel front"%>
      <% end %>
    <% end %>
    <% if pagy_next_url(@pagy) %>
      <%=link_to pagy_next_url(@pagy) do %>
        <%= image_tag @items.last.image, class: "image-carousel shadow"%>
      <% end %>
    <% end %>
  </div>
  <div>
  </div>
  <div>
<!--     <% if pagy_prev_url(@pagy) %>
      <%= link_to "<", pagy_prev_url(@pagy) %>
    <% end %> -->
<!--     <% if pagy_next_url(@pagy) %>
      <%= link_to ">", pagy_next_url(@pagy) %>
    <% end %> -->

  </div>
<button class="las la-trash-alt fa-3x trashcan" data-toggle="modal" data-target="#exampleModal"></button>
    <%= render "shared/modal" %>

</div>
