<div class="wrapper-wardrobe" style="background-color: <%= @color %>">
  <h2>Wardrobe</h2>
    <div class="cards-wardrobe">

      <div class="color-ellipse" >
        <% if @items.joins(:category).where(categories:{name:"shoes"}).exists? %>
        <%= link_to items_path(category:"shoes", color:@color),class: "no-underline" do %>
          <%=image_tag("icons/icon_shoe.png", class: "icon_shoes")%>
        <% end %>
        <% else %>
          <%=image_tag("icons/icon_shoe.png", class: "icon_shoes")%>
        <% end %>
      </div>

      <div class="color-ellipse">
        <% if @items.joins(:category).where(categories:{name:"tops"}).exists? %>
        <%= link_to items_path(category:"tops", color:@color),class: "no-underline" do %>
          <%=image_tag("icons/icon_top.png", class: "icon_top")%>
        <% end %>
        <% else %>
          <%=image_tag("icons/icon_top.png", class: "icon_top")%>
        <% end %>
      </div>

      <div class="color-ellipse">
         <% if @items.joins(:category).where(categories:{name:"accessories"}).exists? %>
        <%= link_to items_path(category:"accessories", color:@color),class: "no-underline" do %>
          <%=image_tag("icons/icon_cap.png", class: "icon_accessory")%>
        <% end %>
        <% else %>
          <%=image_tag("icons/icon_cap.png", class: "icon_accessory")%>
        <% end %>
      </div>

       <div class="color-ellipse">
        <% if @items.joins(:category).where(categories:{name:"bottoms"}).exists? %>
        <%= link_to items_path(category:"bottoms", color:@color),class: "no-underline" do %>
        <%=image_tag("icons/icon_pants.png", class: "icon_bottom")%>
        <% end %>
        <% else %>
        <%=image_tag("icons/icon_pants.png", class: "icon_bottom")%>
        <% end %>
      </div>
    </div>
</div>
