<div class="outfit">
  <div class="container-adaptive" id="component1" dir="ltr" style="background-color: <%= @outfit[3].color %>">
    <% if @outfit[3].favorite %>
      <i class="heart fas fa-heart"></i>
    <% else %>
      <i class="heart far fa-heart"></i>
    <% end %>
    <div class= "item-card"> text
    <div class="item-circle" style=" background-color: <%= @outfit[3].color %>">
      <div class="outfit-text">
      <% if @outfit[3].name %>
        text
      <% else %>

      <p>text</p>
      <% end %>
      </div>
    </div>
    <%= image_tag @outfit[3].image, class: "image-carousel"%>
  </div>
  </div>


  <div class="container-adaptive" id="component2" dir="ltr" style="background-color: <%= @outfit[1].color %>">
    <% if @outfit[1].favorite %>
      <i class="heart fas fa-heart"></i>
    <% else %>
      <i class="heart far fa-heart"></i>
    <% end %>
        <div class= "item-card">
    <div class="item-circle" style=" background-color: <%= @outfit[1].color %>">text</div>
    <%= image_tag @outfit[1].image, class: "image-carousel"%>
  </div>
  </div>


  <div class="container-adaptive" id="component3" style="background-color: <%= @outfit[2].color %>">
    <% if @outfit[2].favorite %>
      <i class="heart fas fa-heart"></i>
    <% else %>
      <i class="heart far fa-heart"></i>
    <% end %>
        <div class= "item-card">
    <div class="item-circle" style=" background-color: <%= @outfit[2].color %>"></div>
    <%= image_tag @outfit[2].image, class: "image-carousel"%>
  </div>
  </div>


  <div class="container-adaptive" id="component4" style="background-color: <%= @outfit[0].color %>">
    <% if @outfit[0].favorite %>
      <i class="heart fas fa-heart"></i>
    <% else %>
      <i class="heart far fa-heart"></i>
    <% end %>
        <div class= "item-card">
    <div class="item-circle" style= "background-color: <%= @outfit[0].color %>"></div>
    <%= image_tag @outfit[0].image, class: "image-carousel"%>
  </div>
  </div>

</div>
