
<div class="container pt-5">
  <div class="form-wrapper pt-5" style="width: 400px; margin: 0 auto;">
  <%= simple_form_for @item do |f| %>
    <%= f.association :category %>
    <%= f.input :color %>
    <%= f.file_field :image, accept: "image/*", capture: "camera", id: "camera"  %> <br>
    <%= f.button :submit, class: 'btn-primary' %>
  <% end %>
  </div>
</div>
