<!-- full heart -->
<div class="color">
  <% if @item.favorite? %>
    <%= simple_form_for @item do |f| %>
      <%= f.hidden_field :favorite?, :input_html => { :value => false}  %>
      <%= f.input :name %>
      <%= button_tag type: 'submit' do %>
        <i class="heart fas fa-heart" aria-hidden="true"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= simple_form_for @item do |f| %>
      <%= f.hidden_field :favorite?, :input_html => { :value => true} %>
      <%= button_tag type: 'submit' do %>
        <i class="heart far fa-heart" aria-hidden="true"></i>
      <% end %>
    <% end %>
  <% end %>
</div>


<%= image_tag @item.image%>
