<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>Infitter - Don't look like you're trying </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- plus font symbol -->
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

  </head>

  <body style="background-color: #3C3A3A;">
    <div class="page-container">
      <%= render 'shared/flashes' %>

      <main id="main-content">
        <div class="page-content"><%= yield %></div>
        <div class="hidden new-item-form"><%= render "shared/item_form" %></div>
      </main>
      <%= render "shared/navbar"  unless request.path == "/users/sign_up"  %>
    </div>
  </body>
<!-- window.location -->
</html>
