<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>Infitter - Don't look like you're trying </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- plus font symbol -->
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>

  </head>

  <body style="background-color: #3C3A3A;">
    <div class="page-container">
      <%= render 'shared/flashes' %>

      <main id="main-content">
        <%= yield %>
      </main>
      <%= render "shared/navbar"  unless request.path == "/users/sign_up"  %>
    </div>
  </body>

</html>
